<h1>{{ title }}!</h1>
<input #input (keyup.enter)="selectPokemon(input.value)" type="number" />
<p *ngIf="pokemonSelected">
  Vous avez sélectionné le pokemon : {{ pokemonSelected.name }}
</p>
<p *ngIf="!pokemonSelected">Aucnu pokemon n'a été trouvé.</p>

<!-- <p *ngFor="let pokemon of pokemonListe">
  {{ pokemon.name }}
</p> -->
<div class="container">
  <div class="row">
    <div class="col s12 m7">
      <div class="card" *ngFor="let pokemon of pokemonListe">
        <div class="card-image">
          <img [src]="pokemon.picture" [alt]="pokemon.name" />
          <span class="card-title">pokemon.name</span>
        </div>
        <div class="card-cotent">
          <p>nom: {{ pokemon.name }}</p>
          <p>hp : {{ pokemon.hp }}</p>
          <p>cp : {{ pokemon.cp }}</p>
          <p *ngFor="let type of pokemon.types">types : {{ type }}</p>
          <p>crée le {{ pokemon.created }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <p>{{ pokemonListe[0].name }}</p>
<p>{{ pokemonListe[1].name }}</p>
<p>{{ pokemonListe[2].name }}</p>
<p>{{ pokemonListe[3].name }}</p>
<p>{{ pokemonListe[4].name }}</p>
<p>{{ pokemonListe[5].name }}</p>
<p>{{ pokemonListe[6].name }}</p>
<p>{{ pokemonListe[7].name }}</p>
<p>{{ pokemonListe[8].name }}</p>
<p>{{ pokemonListe[9].name }}</p>
<p>{{ pokemonListe[10].name }}</p>
<p>{{ pokemonListe[11].name }}</p> -->
<router-outlet></router-outlet>
